body {
    background-color: #080808;
}

* {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: monospace;
}


nav {
    background-color: #1B1B1B;
    color: #9C9C9C;
    margin: auto;
    width: 1100px;
    height: 70px;

    border-radius: 0 0 8px 8px;
}

.burger-menu {
    display: none;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 20px;
}

ul li a {
    text-decoration: none;
    color: white
}

.logo {
    display: flex;
    gap: 20px;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    height: 550px;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

.center-text {
    color: white;
}

.name {
    font-size: 44px;
    font-family: sans-serif;
}

.intro-text {
    width: 452px;
    height: 72px;
    font-weight: 400;
    font-size: 14px;
    padding-top: 20px;
    line-height: 24px;
}

.bottom {
    padding: 15px 65px;
    background-color: green;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    top: 45px;
    box-shadow: 0.1px 0.8px 6px 0 yellow;
}

.bottom:active {
background: #018557;
transform: scale(0.3);
}


.work-section {
    position: relative;
    left: 98px;
}

.works {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.work {
    color: white;
    margin-bottom: 50px;
}

.working {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}

.image {
    background-image: url(img/f0afba6aa10a604487ef43242c838874e50f3c73.png);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.case_studies {
    width: 100%;
    height: 1320px;
    background-color: white;
}


.case-text {
    padding-top: 20px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 385px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.case-h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #080808;
}

.solving {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2%;
    padding-top: 7px;
}

.case-studies-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.fintech {
    padding: 3px 9px;
    background-color: #FFF6E9;
    color: #FFA217;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
}

.Work {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    padding-top: 20px;
}

.text-p {
    width: 390px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    padding-top: 20px;
    color: #9C9C9C;
}

.view-btn {
    position: relative;
    top: 20px;
    padding: 10px 30px;
    background-color: #FFA217;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.case-studies-img img {
    width: 445px;
    height: 300px;
    border-radius: 6px;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.image3 {
    display: flex;
}

.edtech {
    background-color: #D0E6FF;
    color: #000AFF;
}

.btn2 {
    background-color: #000AFF;
}

.card3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.pharma {
    background-color: #E0FFF8;
    color: #2AB090;
}

.btn3 {
    background-color: #2AB090;
}

.testimonials {
    width: 100%;
    height: 900px;
}

.testimonials-texts {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.testimonials-h3 {
    font-weight: 800;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
}

.testimonials-p {
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
    width: 530px;
    margin: auto;
    line-height: 24px;
    letter-spacing: 1%;
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.tutq {
    position: relative;
    bottom: 42px;
    right: 10px;
}

.testimonials-card {
    border: 1px solid #333;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    color: white;
    width: 400px;
    height: 200px;
    display: flex;
}

.card-p {
    font-weight: 409;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    width: 380px;
}

.img-text {
    display: flex;
    gap: 25px;
    margin-top: 40px;
    
}

.card-image img {
    border-radius: 50%;
}

.card-h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    margin-top: 12px;
}

.testimonials-cards .testimonials-card {
    border-radius: 6px;
    display: flex;
}

.card3-p {
    font-weight: 409;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    width: 300px;
}

.get_in_touch {
    width: 100%;
    height: 800px;
    background-color: white;
}

.recent-top-text {
    padding-top: 80px;
}

.recent-h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
}

.recent-p {
    padding-top: 20px;
    margin: auto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 10%;
    text-align: center;
    width: 600px;
}

.recent-center {
    padding: 30px 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-image {
    width: 455px;
    height: 300px;
    display: flex;
    gap: 30px;
}

.left-h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    padding-top: 25px;
}

.left-p {
    padding-top: 20px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    width: 400px;
}

.left-btn {
    margin-top: 20px;
    height: 40px;
    width: 130px;
    background-color: green;
    color: white;
    border-radius: 4px;
    align-content: center;
    text-align: center;
}

.left-btn span {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
}

.appeal-section {
    width: 100%;
    height: 670px;
    background-color: black;
}

.appeal-top-text {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.appeal-h1 {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
}

.appeal-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    padding-top: 20px;
    margin: auto;
    width: 500px;
}

.email {
    padding-top: 50px;
}

.commentary {
    color: white;
    display: flex;
    justify-content: center;
}

.commentary input {
    width: 350px;
    height: 40px;
    border-radius: 4px;
    margin-top: 5px;
}

.mobile {
    padding-top: 30px;
}

.message {
    margin-top: 20px;
}

.message textarea {
    width: 350px;
    height: 120px;
    margin-top: 10px;
    border-radius: 4px;
}

.btn {
    margin-top: 20px;
    background-color: #3F8E00;
    width: 350px;
    height: 50px;
    align-content: center;
    text-align: center;
    border-radius: 4px;
}

.btn span {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
}

footer {
    height: 70px;
    width: 100%;
    background-color: #1B1B1B;
    text-align: center;
    align-content: center;
    color: white;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1%;
    text-align: center;
    vertical-align: bottom;
}

@media (max-width: 480px) {

    .home {
        width: 100%;
    }
    .navbar {
        display: none;
    }
    
    .burger-menu {
        display: block;
        /* font-size: 50px; */
        position: absolute;
        right: 2rem;
        top: 2rem;
        align-items: center;
    }
    .image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 0;
    }
    
    .center-text {
    color: white;
}

.name {
    font-size: 20px;
    text-align: center;
}

.intro-text {
    width: 300px;
    font-size: 12px;
    text-align: center;
}

.work-section {
    position: relative;
   top: 20px;
}


.work {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.working {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}


.bottom {
    background-color: green;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    top: 40px;
    box-shadow: 0.1px 0.8px 6px 0 yellow;
}





}
